Repository unoplatform/Uno.CodeGen, pull requests merged in 2018-02, with the labels that each got.

#9 Add class basic lifecycle methods attributes
  src/Uno.ClassLifecycle/ConstructorMethodAttribute.cs
  src/Uno.ClassLifecycle/DisposeMethodAttribute.cs
  src/Uno.ClassLifecycle/FinalizerMethodAttribute.cs
  src/Uno.ClassLifecycle/Uno.ClassLifecycle.csproj
  src/Uno.CodeGen.sln
Labels: enhancement, lifetime-generator

#13 Added new global option `GenerateEqualityByDefault`
  doc/Equality Generation.md
  doc/Immutable Generation.md
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.cs
  src/Uno.CodeGen/ImmutableGenerator.cs
  src/Uno.Immutables/ImmutableGenerationOptionsAttribute.cs
Labels: enhancement, immutable-generator

#15 Added support for Newtownsoft's JSON.NET
  doc/Immutable Generation.md
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.cs
  src/Uno.CodeGen.Tests/Uno.CodeGen.Tests.csproj
  src/Uno.CodeGen/EqualityGenerator.cs
  src/Uno.CodeGen/Helpers/NamedTypeSymbolExtensions.cs
  src/Uno.CodeGen/Helpers/TypeSymbolExtensions.cs
  src/Uno.CodeGen/ImmutableGenerator.cs
  src/Uno.Immutables/ImmutableGenerationOptionsAttribute.cs
Labels: enhancement, immutable-generator

#16 Support for more types
  src/Uno.CodeGen.Tests/Given_GeneratedEquality.cs
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.cs
  src/Uno.CodeGen/EqualityGenerator.cs
  src/Uno.CodeGen/Helpers/TypeSymbolExtensions.cs
  src/Uno.CodeGen/ImmutableGenerator.cs
  src/Uno.CodeGen/Uno.CodeGen.csproj
  src/Uno.Equality/CollectionComparerMode.cs
  src/Uno.Equality/DictionaryEqualityComparer.cs
  src/Uno.Equality/EqualityComparerOptionsAttribute.cs
  src/Uno.Equality/ReadonlyDictionaryEqualityComparer.cs
  src/Uno.Equality/SortedCollectionEqualityComparer.cs
  src/Uno.Equality/SortedReadonlyCollectionEqualityComparer.cs
  src/Uno.Equality/StringComparerMode.cs
  src/Uno.Equality/UnsortedCollectionEqualityComparer.cs
  src/Uno.Equality/UnsortedReadonlyCollectionEqualityComparer.cs
Labels: enhancement, equality-generator, immutable-generator

#18 Added _xml comments_ into generated nuget packages
  src/Uno.ClassLifecycle/Uno.ClassLifecycle.csproj
  src/Uno.CodeGen/EqualityGenerator.cs
  src/Uno.CodeGen/ImmutableGenerator.cs
  src/Uno.CodeGen/Uno.CodeGen.csproj
  src/Uno.Equality/CollectionComparerMode.cs
  src/Uno.Equality/DictionaryEqualityComparer.cs
  src/Uno.Equality/EqualityComparerOptionsAttribute.cs
  src/Uno.Equality/EqualityHashAttribute.cs
  src/Uno.Equality/EqualityKeyAttribute.cs
  src/Uno.Equality/KeyEqualityMode.cs
  src/Uno.Equality/ReadonlyDictionaryEqualityComparer.cs
  src/Uno.Equality/SortedCollectionEqualityComparer.cs
  src/Uno.Equality/SortedReadonlyCollectionEqualityComparer.cs
  src/Uno.Equality/Uno.Equality.csproj
  src/Uno.Equality/UnsortedCollectionEqualityComparer.cs
  src/Uno.Equality/UnsortedReadonlyCollectionEqualityComparer.cs
  src/Uno.Immutables/IImmutableBuilder.cs
  src/Uno.Immutables/ImmutableAttributeCopyIgnoreAttribute.cs
  src/Uno.Immutables/ImmutableBuilderAttribute.cs
  src/Uno.Immutables/Uno.Immutables.csproj
Labels: bug

#29 Fixed a potential stack overflow
  src/Uno.CodeGen.Tests.ExternalClasses/AbstractExternalGenericClass.cs
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.Inheritance.cs
  src/Uno.CodeGen/Helpers/TypeSymbolExtensions.cs
  src/Uno.CodeGen/ImmutableGenerator.cs
Labels: bug, immutable-generator

#36 Added better support for StyleCop
  src/Uno.CodeGen.ClassLifecycle/ClassLifecycleGenerator.cs
  src/Uno.CodeGen.Tests/Given_ClassLifecycle.cs
  src/Uno.CodeGen.Tests/Given_GeneratedEquality.Collections.cs
  src/Uno.CodeGen.Tests/Given_GeneratedEquality.CustomComparers.cs
  src/Uno.CodeGen.Tests/Given_GeneratedEquality.KeyEquality.cs
  src/Uno.CodeGen.Tests/Given_GeneratedEquality.Strings.cs
  src/Uno.CodeGen.Tests/Given_GeneratedEquality.cs
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.GenericsAndAbstract.cs
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.Inheritance.cs
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.Newtownsoft.cs
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.Options.cs
  src/Uno.CodeGen.Tests/Given_ImmutableEntity.cs
  src/Uno.CodeGen.Tests/Uno.CodeGen.Tests.csproj
  src/Uno.CodeGen.Tests/Uno.CodeGen.Tests.ruleset
  src/Uno.CodeGen/CompilationReferencesListingGenerator.cs
  src/Uno.CodeGen/EqualityGenerator.cs
  src/Uno.CodeGen/ImmutableGenerator.cs
Labels: enhancement, equality-generator, immutable-generator, lifetime-generator
